<html>
  <head><title>Terms</title></head>
  <body>
    <ul>
      <li>Terms of Agreement
        <br />
        <p> These Terms of Use constitute a legally binding agreement made between you ("you") and Roots Integrated LLC, with its principal office located at 423 James Street, Office No. 2, Syracuse, New York, 13203, USA ("we," "us," or "our"), concerning your access to and use of the mobile application "Jeel" (the "Application"). By accessing the Application, you agree that you have read, understood, and accepted all these Terms of Use. If you do not agree to all these terms, you are expressly prohibited from using the Application, and you must discontinue use immediately.</p>
        <p>Supplementary terms or documents that may be posted on the Application from time to time are hereby expressly incorporated by reference. We reserve the right, at our sole discretion, to make changes or modifications to these Terms of Use at any time and for any reason. We will alert you about any changes by updating the "Last Updated" date of these Terms of Use, and you waive any right to receive specific notice of each such change. It is your responsibility to periodically review these Terms of Use to stay informed of updates. You will be subject to and deemed to have been made aware of and accepted the changes in any revised Terms of Use by your continued use of the Application after the date such revised Terms are posted.</p>
        <p>Information provided on the Application is not intended for distribution to or use by any person or entity in any jurisdiction or country where such distribution or use would be contrary to law or regulation or which would subject us to any registration requirement within such jurisdiction or country. Accordingly, those persons who choose to access the Application from other locations do so on their initiative and are solely responsible for compliance with local laws, if and to the extent local laws are applicable.</p>
        <hr />
      </li>
      <li>Subscription Terms<br />
        <p>Jeel is a subscription-based mobile application designed for children and parents. It offers two main sections: the Children's Section and the Parents' Section. The Children's Section includes various cartoon videos, post-episode activities, and games. The Parents' Section provides account management options, child account controls, child reports, and access to supportive parenting sections that include episodes, related articles, and practical programs.</p>
        <p> The app offers free access to 1-2 episodes per series (Children's Section only) for guest users or those with free accounts. However, you may need to register an account and purchase a subscription to access premium content available on the app (referred to as "Services").</p>
        <hr />
      </li>
      <li>
        Company Disclaimer for Illegal Use<br />
        <p>    The Company disclaims any liability arising from any unlawful use of the application.
        </p>
        <hr />
      </li>
      <li>
        Third-Party Websites and Services<br />
        <p>    The application may provide opportunities for you to visit links to other websites or interact with third-party products or services. You assume all risks associated with your use of such sites or resources.
        </p><hr />
      </li>
      <li>
        Services Requiring Separate Agreements
        <br />
        <p>  Some features or services may require you to enter into a separate written and supplementary agreement before usage.
        </p><hr />
      </li>
      <li>
        Intellectual Property Rights
        <br />
        <p>  Unless otherwise indicated, the application is our proprietary property. Except for the intellectual property rights (including articles, logos, trademarks, and content) of third-party news websites, all source code, databases, functionality, software, website designs, audio, video, text, photographs, and graphics on the application (collectively referred to as "Content") and trademarks, service marks, and logos (referred to as "Marks") are owned, controlled by, or licensed to us. They are protected by copyright, trademark, and other intellectual property laws.
        </p>
        <p>Content and Marks on the application are provided "as is" for your personal use only. Except as expressly stated in these Terms of Use, no part of the application, content, or marks may be copied, reproduced, aggregated, republished, uploaded, posted, publicly displayed, encoded, translated, transmitted, distributed, sold, licensed, or otherwise exploited for any commercial purpose without our express prior written permission.
          Subject to your eligibility to use the application, you are granted a limited license to access and use the application. We reserve all rights not expressly granted to you in the application, content, and marks.
          Terms of Agreement (Continued)
          </p>
        <hr />
      </li>
      <li>
        Subscription Terms
        <br />
        <p>  Jeel is a subscription-based mobile application designed for children and parents. It offers two main sections: the Children's Section and the Parents' Section. The Children's Section includes various cartoon videos, post-episode activities, and games. The Parents' Section provides account management options, child account controls, child reports, and access to supportive parenting sections that include episodes, related articles, and practical programs.
        </p>
        <p> The app offers free access to 1-2 episodes per series (Children's Section only) for guest users or those with free accounts. However, you may need to register an account and purchase a subscription to access premium content available on the app (referred to as "Services").</p><hr />
      </li>
      <li>
        Company Disclaimer for Illegal Use
        <br />
        <p>The Company disclaims any liability arising from any unlawful use of the application.
        </p><hr />
      </li>
      <li>
        Services Requiring Separate Agreements

        <br />
        <p> Some features or services may require you to enter into a separate written and supplementary agreement before usage.
        </p><hr />
      </li>
      <li>
        Intellectual Property Rights

        <br />
        <p>Unless otherwise indicated, the application is our proprietary property. Except for the intellectual property rights (including articles, logos, trademarks, and content) of third-party news websites, all source code, databases, functionality, software, website designs, audio, video, text, photographs, and graphics on the application (collectively referred to as "Content") and trademarks, service marks, and logos (referred to as "Marks") are owned, controlled by, or licensed to us. They are protected by copyright, trademark, and other intellectual property laws.
        </p>
        <p>
          Content and Marks on the application are provided "as is" for your personal use only. Except as expressly stated in these Terms of Use, no part of the application, content, or marks may be copied, reproduced, aggregated, republished, uploaded, posted, publicly displayed, encoded, translated, transmitted, distributed, sold, licensed, or otherwise exploited for any commercial purpose without our express prior written permission.
          Subject to your eligibility to use the application, you are granted a limited license to access and use the application. We reserve all rights not expressly granted to you in the application, content, and marks.
        </p><hr />
      </li>
      <li>
        User Representations

        <br />
        <p> By using the application, you represent and warrant that:
        </p>
        <ol>
          <li>All registration information you submit will be true, accurate, current, and complete.</li>
          <li>You will maintain the accuracy of such information and promptly update your registration details when necessary.</li>
          <li>You have the legal capacity and agree to comply with these Terms of Use.</li>
          <li>You will not access the application through automated or non-human means, whether via a bot, script, or otherwise.</li>
          <li>You will not use the application for any unlawful or unauthorized purpose.</li>
          <li>Your use of the application will not violate any applicable laws or regulations.</li>
        </ol>
        <p> If you provide any information that is untrue, inaccurate, not current, or incomplete, we have the right to suspend or terminate your account and refuse all current or future use of the application (or any portion thereof).</p>
        <hr />
      </li>
      <li>
        User Registration

        <br />
        <p>  To use certain features or services of the application, you may be required to register an account. During registration, you will be required to complete a form and provide personal information such as email, country, password, and optional details like name, year of birth, and gender.
          By registering, you represent and warrant that:
        </p>
        <ul>
          <li>You have the full authority to accept these terms, grant licenses, and perform obligations under them.</li>
          <li>You will use the application solely for personal purposes.</li>
          <li>The address you provide is your personal address.</li>
        </ul>
        <p> You must not allow anyone else to use your account to access the application. If you become aware of any unauthorized use of your account, you must notify us immediately in writing.
          You are not permitted to use another person's account to access the application unless you have express written permission from that person to do so.</p><hr />
      </li>
      <li>
        Email and Passwords
        <br />
        <p>  If you choose to register an account on the application, you will be required to provide an email address and password. You must keep your password confidential and are responsible for all uses of your account, whether authorized by you or not. You agree to notify us immediately of any unauthorized use of your account, user registration, or password.
        </p>
        <p> You must notify us via email if you have reason to believe that your account is no longer secure for any reason (e.g., loss, theft, or unauthorized disclosure or use of your password).
        </p>
        <p> You are responsible for all activities conducted under your account and may be held liable for any losses resulting from failure to maintain the confidentiality of your password.</p>
        <p>    Any registration data and other personal information we collect are subject to our Privacy Policy.
        </p><hr />
      </li>
      <li>
        Prohibited Activities

        <br />
        <p>You may not access or use the application for any purpose other than for the purposes we make the application available. The application may not be used in connection with any commercial endeavors except those that are specifically endorsed or approved by us.
        </p>
        <p>    As a user of the application, you agree not to:
        </p>
        <ol>
          <li>Systematically retrieve data or content from the application to create or compile, directly or indirectly, a collection, compilation, database, or directory without written permission from us.</li>
          <li>Make any unauthorized use of the application, including collecting usernames and/or email addresses of users by electronic or other means for sending unsolicited emails, or creating user accounts by automated means or under false pretenses.</li>
          <li>Use the application to advertise or offer to sell goods and services.</li>
          <li>	Circumvent, disable, or otherwise interfere with security-related features of the application.</li>
          <li>Engage in unauthorized framing of or linking to the application.</li>
          <li>	Mislead or defraud us and other users.</li>
          <li>Improperly use our support services or submit false abuse reports.</li>
          <li>Use automated systems such as bots, scripts, or similar tools to interact with the application.</li>
          <li>Interfere with, disrupt, or create undue burden on the application or the networks or services connected to the application.</li>
          <li>Attempt to impersonate another user, person, or use another user’s credentials.</li>
          <li>Sell or otherwise transfer your profile or account.</li>
          <li>Use the application as part of any effort to compete with us.</li>
          <li>Decipher, decompile, disassemble, or reverse-engineer any software.</li>
          <li>Harass, intimidate, or threaten any of our employees or agents providing the application.</li>
          <li>Delete or modify any copyright or other proprietary rights notice from the application.</li>
          <li>Use the application for any unauthorized or unlawful purposes.</li>
        </ol><hr />
      </li>
      <li>
        License to Use the Application


        <br />
        <p> If you access the application through a mobile device, we grant you a revocable, non-exclusive, non-transferable, limited right to install and use the mobile application on devices you own or control, strictly in accordance with these Terms of Use. You agree not to:
        </p>
        <ol>
          <li>Reverse-engineer, decompile, or disassemble the application.</li>
          <li>Modify, enhance, translate, or create derivative works of the application.</li>
          <li>Use the application for commercial purposes, revenue generation, or competitive activities.</li>
          <li>Make the application available over a network where it could be used by multiple devices or users at the same time.</li>
        </ol><hr />
      </li>

      <li>
        Apple and Android Devices



        <br />
        <p>The following terms apply if you access the application via a device obtained through Apple’s App Store or Google Play Store:
        </p>
        <ol>
          <li>The license granted to you is limited to using the application on a device using Apple iOS or Android operating systems, as applicable, in accordance with the distributor’s terms of service.</li>
          <li>We are responsible for providing maintenance and support services for the application as required by law. Distributors have no obligations to provide maintenance or support.</li>
          <li>In case of application failure to meet any warranty, you may notify the distributor, who may refund the purchase price of the application (if applicable). Beyond this, the distributor has no further warranty obligations.</li>

        </ol><hr />
      </li>
      <li>
        Submissions

        <br />
        <p> Any comments, suggestions, ideas, or other feedback (“Submissions”) you provide to us will be considered non-confidential and our sole property. You waive all moral rights to your Submissions and agree they are original or that you have the right to submit them.
        </p><hr />
      </li>

      <li>
        Application Management
        <br />
        <p>     We reserve the right to:

        </p>
        <ol>
          <li>Monitor the application for violations of these Terms of Use.</li>
          <li>Take appropriate legal action against anyone who violates the law or these terms.</li>
          <li>Remove or restrict access to any content without notice.</li>
          <li>Maintain the application to ensure its proper functionality and protection.
            Privacy Policy</li>
        </ol>
        <p> We care about data privacy and security. Please review our Privacy Policy. By using the application, you agree to be bound by our Privacy Policy, which is incorporated into these Terms of Use.
          We do not knowingly accept, request, or solicit information from children or knowingly market to children. Therefore, under the U.S. Children’s Online Privacy Protection Act (COPPA), if we become aware that we have received any data from anyone under the age of 13 without parental consent, we will delete such data as soon as reasonably practicable.</p><hr />
      </li>

      <li>
        Copyright Infringements
        <br />
        <p>We respect the intellectual property rights of others. If you believe that any material available on or through the application infringes upon any copyright you own or control, please notify us immediately using the contact information provided below (the "Notice").
        </p>
        <p>A copy of your Notice will be sent to the person who posted or stored the material addressed in the Notice. Be aware that under federal law, you may be held liable for damages if you make false representations in your Notice. Therefore, if you are unsure whether the material infringes upon your copyright, it is recommended that you seek legal advice first.</p><hr />
      </li>
      <li>
        Term and Termination

        <br />
        <p>These Terms of Use shall remain in full force and effect while you use the application. We reserve the right, at our sole discretion and without notice or liability, to deny access to and use of the application (including blocking certain IP addresses) to any person for any reason, including without limitation breach of any representation, warranty, or covenant contained in these Terms of Use or any applicable law or regulation.
          We may terminate your use or participation in the application or delete your account without notice, at our sole discretion.
        </p>
        <p> If we terminate or suspend your account for any reason, you are prohibited from registering and creating a new account under your name, a fake or borrowed name, or the name of any third party. In addition to terminating or suspending your account, we reserve the right to take appropriate legal action, including pursuing civil, criminal, and injunctive remedies.</p><hr />
      </li>
      <li>
        Modifications and Interruptions

        <br />
        <p> We reserve the right to change, modify, or remove the contents of the application at any time or for any reason at our sole discretion without notice. However, we have no obligation to update any information on our application.
        </p>
        <p> We cannot guarantee the application will be available at all times. We may experience hardware, software, or other issues or need to perform maintenance related to the application, resulting in interruptions, delays, or errors.</p><hr />
      </li>
      <li>
        Governing Law

        <br />
        <p> These Terms of Use and your use of the application are governed by and construed in accordance with the laws of the State of New York, USA, without regard to its conflict of law principles.
        </p>
       <hr />
      </li>
      <li>
        Corrections

        <br />
        <p>There may be information on the application that contains typographical errors, inaccuracies, or omissions, including descriptions, pricing, availability, and other details. We reserve the right to correct any errors, inaccuracies, or omissions and to change or update the information on the application at any time, without prior notice.
        </p>
       <hr />
      </li>
      <li>
        Indemnification

        <br />
        <p>  You agree to defend, indemnify, and hold us harmless, including our subsidiaries, affiliates, and all of our respective officers, agents, partners, and employees, from and against any loss, damage, liability, claim, or demand, including reasonable attorneys’ fees and expenses, arising out of or relating to:
        </p>
        <ol>
          <li>Your contributions;</li>
          <li>	Your use of the application;</li>
          <li>Your breach of these Terms of Use;</li>
          <li>Your violation of the rights of a third party, including but not limited to intellectual property rights;</li>
          <li>Any harmful act toward any other user of the application with whom you connected via the application.</li>
        </ol>
       <hr />
      </li>
      <li>
        User Data

        <br />
        <p>We will maintain certain data that you transmit to the application for the purpose of managing the application, as well as data relating to your use of the application. Although we perform regular routine backups of data, you are solely responsible for all data that you transmit or that relates to any activity you have undertaken using the application.
        </p>
        <p>    You agree that we shall have no liability to you for any loss or corruption of any such data, and you hereby waive any right of action against us arising from any such loss or corruption of data.
        </p>
       <hr />
      </li>

      <li>
        Contact Us

        <br />
        <p> To resolve a complaint regarding the application or to receive further information regarding the use of the application, please contact us at:
        </p>
        <ul>
          <li>Email: Hello@jeelapp.com</li>
          <li>Phone: +1 302 200 0244</li>
        </ul>
       <hr />
      </li>
    </ul>





  </body>
</html>
